body {
   background: url("../../img/backgroundLp.png") right / cover no-repeat;
   color: $font-color;
}

.formBody {
   background-color: $background-color;
   width: 450px;
   height: auto;
}

.topLogo {
   width: 180px;
}

.buttonSubmit {
   border-color: $primary-color;
   color: $primary-color;

   &:hover {
      color: $font-color;
      background-color: $primary-color;
      border-color: transparent;
   }
}
