body {
   background: url("../../img/backgroundLp.png") right / cover no-repeat;
   color: $font-color;
}

.formBody {
   background-color: $background-color;
   width: 450px;
   height: auto;
}

.topLogo {
   width: 180px;
}
